$cd-body:#f6f6f6;
$color-p:#fff;
body {
    font-family: 'roboto', sans-serif;
    margin: 0;
    background-color: $cd-body;
}
a{
    text-decoration: none;
    color: inherit;
}
.header {
    display: flex;
    justify-content: center;
    font-size: 100px;
    box-shadow: -6px 4px 6px -3px #cac8c8;
}
.localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eceaea;
    margin-top: 4px;
}
.container_reserv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.button_reserv {
    color: $color-p;
    border-radius: 30px;
    background-image: linear-gradient(to bottom,  #FF79DA,#9356DC) ;
    padding: 1rem;
    &:hover{
        opacity: 80%;
        transition: ease-in 0.2s ;
    }
}

.fonction{
    padding: 20px;
    background-color: white;
}
.fonction_step {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: $cd-body;
    margin-top: 20px;
    position: relative;
    animation: slideDown 3s;

    &:hover{
        background-color: #9256dc31;
        transition: ease-in 0.2s ;
        
        .fonction_icon{
            color: #9356DC;
        }
    }
}
@keyframes slideDown {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to{
        -o-transform: translateY(0);
        opacity: 1;
    }
}
.fonction_icon {
    margin: 25px;
}
.fonction_number {
    position: absolute;
    padding: 6px 10px 6px 10px;
    border-radius: 13px;
    background-color: #9356DC;
    color: $color-p;
    margin: unset;
    left: -2%;
}
.cart-restaurant{
    transition: transform .5s;
    animation: slideDown 3s;
        &:hover {
            transform: scale(1.02);
}
}
.restaurant {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    height: 180px;
    object-fit: cover;
}
h1{
    margin: 20px;
}
figure {
    border-radius: 20px;
    box-shadow: 0px 5px 6px 0px black;
    background-color: white;
    height: auto;
    margin: 20px;
}
.cart-new-restaurant {
    position: absolute;
    right: 10%;
    background-color: #99E2D0;
    padding: 10px;
    border-radius: 5px;
    height: 20px;
    margin: 10px;
}
.new{
    margin: auto;
}
.restaurant-bloc-info{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
        h3{
        margin: 0px;
        }
        p{
        margin: 0px;
        }
        .fal{
            display: none;
            
        }
    
}

.logo {
    width: 200px;
}

footer{
    background-color: #353030;
    color: $color-p;
}

.titre_footer{
    font-family: 'shrikland';
    font-size: 40px;
    margin: 10px;
    color: $color-p;
}
.footer_bloc-links{
    padding: 10px;
    .footer_bloc-link{
        display: flex;
        align-items: baseline;
        p{
            margin-top: 5px;
        }
        .fas{
            letter-spacing: 15px;
        }
    }
}
@media screen and (min-width:800px)
{
    .fonction_all
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
    .restaurants
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    h1{
        grid-column-start: 1;
        grid-column-end: span 2;
        text-align: center;
    }
    .footer{
        display: flex;
        justify-content: center;
        text-align: center;
    }
}