$cd-body:#f6f6f6;
$color-p:#fff;
/*scss page menu principal*/
body {
    font-family: 'roboto', sans-serif;
    margin: 0;
    background-color: $cd-body;
}
a{
    text-decoration: none;
    color: inherit;
}
.loader{
    position: fixed;
    background-color: $cd-body;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200vh;
    width: 100%;
    z-index: 1;
    animation: chargeur-back 2s linear ;
    visibility: hidden;
    
}
@keyframes chargeur-back{
    0%{
        visibility: visible;
        opacity: 0.9;
    }
    80%{
        opacity: 0.9;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}
.loading{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #f6f6f6;
    margin: auto;
    border: 10px solid black;
    width: 250px;
    height: 250px;
    border-top-color: #FF79DA;
    border-bottom-color: #9356DC;
    border-left-color: #99E2D0;
    border-right-color: #99E2D0;
    border-radius: 50%;
    margin-bottom: 100%;
    animation: chargeur 2s linear;
}
@keyframes chargeur{
    0%{
        transform: rotate(0deg) scale(1);
    }
    50%{
        transform: rotate(360deg) scale(1.15);
    }
    75%{
        transform: rotate(720deg) scale(1);
    }
    99%{
        opacity: 0;
    }
    100%{
        transform: none;
    }
}
.header {
    display: flex;
    justify-content: center;
    font-size: 100px;
    box-shadow: -6px 4px 6px -3px #cac8c8;
}
.localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eceaea;
    margin-top: 4px;
}
.container_reserv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.button_reserv {
    color: $color-p;
    border-radius: 30px;
    background-image: linear-gradient(to bottom,  #FF79DA,#9356DC) ;
    padding: 1rem;
    &:hover{
        opacity: 80%;
        transition: ease-in 0.2s ;
        -webkit-box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.68); 
        box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.68);
    }
}

.fonction{
    padding: 20px;
    background-color: white;
}
.fonction_step {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: $cd-body;
    margin-top: 20px;
    position: relative;

    &:hover{
        background-color: #9256dc31;
        transition: ease-in 0.2s ;
        
        .fonction_icon{
            color: #9356DC;
        }
    }
}

.fonction_icon {
    margin: 25px;
}
.fonction_number {
    position: absolute;
    padding: 6px 10px 6px 10px;
    border-radius: 13px;
    background-color: #9356DC;
    color: $color-p;
    margin: unset;
    left: -2%;
}

.restaurant {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    height: 180px;
    object-fit: cover;
}
h1{
    margin: 20px;
}
figure {
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 5px 6px 0px black;
    background-color: white;
    height: auto;
    margin: 20px;
}
.cart-new-restaurant {
    position: absolute;
    right: 35px;
    background-color: #99E2D0;
    padding: 10px;
    border-radius: 5px;
    height: 20px;
    margin: 10px;
    top:10px;
    .new{
        margin: auto;
    }
}


.restaurant-bloc-info{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
        h3{
        margin: 0px;
        }
        p{
        margin: 0px;
        }
        .fal{
            display: none;
            
        }
        .icon_coeur{
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
        }
    
    i.far.fa-heart.vide {
        position: absolute;
    }
    i.fas.fa-heart.plein{
        background: linear-gradient(to bottom,  #FF79DA,#9356DC) ;
        color: transparent;
        -webkit-background-clip: text;
            background-clip: text;
        opacity: 0;
    }
    &:hover{
        i.fas.fa-heart.plein{
            background: linear-gradient( to bottom,  #FF79DA,#9356DC) ;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            opacity: 1;
            transition: ease-in 0.5s;
        }
        i.far.fa-heart.vide{
            
            transition: ease-in 0.5s;
            visibility: hidden;
        }
    }
    
}

.logo {
    width: 200px;
}

footer{
    background-color: #353030;
    color: $color-p;
    padding: 14px;
}

.titre_footer{
    font-family: 'shrikland','cursive';
    font-style: italic;
    font-weight: bold;
    font-size: 26px;
    margin: 10px;
    
}
.footer_bloc-links{
    padding: 10px;
    .footer_bloc-link{
        display: flex;
        align-items: baseline;
        p{
            margin-top: 5px;
        }
        .fas{
            letter-spacing: 15px;
        }
    }
}
@media screen and (min-width:800px)
{
    .fonction_all
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
    .restaurants
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    h1{
        grid-column-start: 1;
        grid-column-end: span 2;
        text-align: center;
    }
    .footer{
        display: flex;
        justify-content: center;
    }
    .loading{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: #f6f6f6;
        margin: 50%;
        border: 10px solid black;
        width: 250px;
        height: 250px;
        border-top-color: #FF79DA;
        border-bottom-color: #9356DC;
        border-left-color: #99E2D0;
        border-right-color: #99E2D0;
        border-radius: 50%;
        margin-bottom: 100%;
        animation: chargeur 2s linear;
    }
}