/*scss page menu principal*/
body {
  font-family: 'roboto', sans-serif;
  margin: 0;
  background-color: #f6f6f6;
}

a {
  text-decoration: none;
  color: inherit;
}

.loader {
  position: fixed;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200vh;
  width: 100%;
  z-index: 1;
  -webkit-animation: chargeur-back 2s linear;
          animation: chargeur-back 2s linear;
  visibility: hidden;
}

@-webkit-keyframes chargeur-back {
  0% {
    visibility: visible;
    opacity: 0.9;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes chargeur-back {
  0% {
    visibility: visible;
    opacity: 0.9;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loading {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: #f6f6f6;
  margin: auto;
  border: 10px solid black;
  width: 250px;
  height: 250px;
  border-top-color: #FF79DA;
  border-bottom-color: #9356DC;
  border-left-color: #99E2D0;
  border-right-color: #99E2D0;
  border-radius: 50%;
  margin-bottom: 100%;
  -webkit-animation: chargeur 2s linear;
          animation: chargeur 2s linear;
}

@-webkit-keyframes chargeur {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.15);
            transform: rotate(360deg) scale(1.15);
  }
  75% {
    -webkit-transform: rotate(720deg) scale(1);
            transform: rotate(720deg) scale(1);
  }
  99% {
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes chargeur {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.15);
            transform: rotate(360deg) scale(1.15);
  }
  75% {
    -webkit-transform: rotate(720deg) scale(1);
            transform: rotate(720deg) scale(1);
  }
  99% {
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 100px;
  -webkit-box-shadow: -6px 4px 6px -3px #cac8c8;
          box-shadow: -6px 4px 6px -3px #cac8c8;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eceaea;
  margin-top: 4px;
}

.container_reserv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.button_reserv {
  color: #fff;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  padding: 1rem;
}

.button_reserv:hover {
  opacity: 80%;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
  -webkit-box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.68);
}

.fonction {
  padding: 20px;
  background-color: white;
}

.fonction_step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  background-color: #f6f6f6;
  margin-top: 20px;
  position: relative;
}

.fonction_step:hover {
  background-color: #9256dc31;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

.fonction_step:hover .fonction_icon {
  color: #9356DC;
}

.fonction_icon {
  margin: 25px;
}

.fonction_number {
  position: absolute;
  padding: 6px 10px 6px 10px;
  border-radius: 13px;
  background-color: #9356DC;
  color: #fff;
  margin: unset;
  left: -2%;
}

.restaurant {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}

h1 {
  margin: 20px;
}

figure {
  position: relative;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 6px 0px black;
          box-shadow: 0px 5px 6px 0px black;
  background-color: white;
  height: auto;
  margin: 20px;
}

.cart-new-restaurant {
  position: absolute;
  right: 35px;
  background-color: #99E2D0;
  padding: 10px;
  border-radius: 5px;
  height: 20px;
  margin: 10px;
  top: 10px;
}

.cart-new-restaurant .new {
  margin: auto;
}

.restaurant-bloc-info {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurant-bloc-info h3 {
  margin: 0px;
}

.restaurant-bloc-info p {
  margin: 0px;
}

.restaurant-bloc-info .fal {
  display: none;
}

.restaurant-bloc-info .icon_coeur {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
}

.restaurant-bloc-info i.far.fa-heart.vide {
  position: absolute;
}

.restaurant-bloc-info i.fas.fa-heart.plein {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0;
}

.restaurant-bloc-info:hover i.fas.fa-heart.plein {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 1;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}

.restaurant-bloc-info:hover i.far.fa-heart.vide {
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
  visibility: hidden;
}

.logo {
  width: 200px;
}

footer {
  background-color: #353030;
  color: #fff;
  padding: 14px;
}

.titre_footer {
  font-family: 'shrikland','cursive';
  font-style: italic;
  font-weight: bold;
  font-size: 26px;
  margin: 10px;
}

.footer_bloc-links {
  padding: 10px;
}

.footer_bloc-links .footer_bloc-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer_bloc-links .footer_bloc-link p {
  margin-top: 5px;
}

.footer_bloc-links .footer_bloc-link .fas {
  letter-spacing: 15px;
}

@media screen and (min-width: 800px) {
  .fonction_all {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .restaurants {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  h1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 2;
        grid-column-end: span 2;
    text-align: center;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .loading {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    background-color: #f6f6f6;
    margin: 50%;
    border: 10px solid black;
    width: 250px;
    height: 250px;
    border-top-color: #FF79DA;
    border-bottom-color: #9356DC;
    border-left-color: #99E2D0;
    border-right-color: #99E2D0;
    border-radius: 50%;
    margin-bottom: 100%;
    -webkit-animation: chargeur 2s linear;
            animation: chargeur 2s linear;
  }
}
/*# sourceMappingURL=styles.css.map */