body {
  font-family: 'roboto', sans-serif;
  margin: 0;
  background-color: #f6f6f6;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header_arrow-back {
  position: absolute;
  left: 2%;
}

.img_menus {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
}

.menu {
  padding: 10px;
  border-radius: 30px 30px 0px 0px;
  margin-top: -64px;
  background-color: #f6f6f6;
  position: relative;
}

.menu h1 {
  font-family: 'shrikland';
  font-weight: bold;
  font-style: italic;
}

.header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.case_menu {
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 14px -7px;
          box-shadow: 0px 0px 14px -7px;
  padding: 0px 20px 0px 20px;
  margin: 10px;
}

.case_menu:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

.case_plat-et-prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.case_plat-titre {
  font-weight: bold;
}

.plat-titre {
  margin-bottom: 0px;
}

.soustitre {
  margin-top: 0px;
}

.case_prix {
  font-weight: bold;
}

/*.bloc_grid_menu{
    animation: slideDown 1s;
}*/
#case-1 {
  -webkit-animation: slideDown 1s;
          animation: slideDown 1s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

#case-2 {
  -webkit-animation: slideDown 1s;
          animation: slideDown 1s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#case-3 {
  -webkit-animation: slideDown 1s;
          animation: slideDown 1s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#case-4 {
  -webkit-animation: slideDown 1s;
          animation: slideDown 1s;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#case-5 {
  -webkit-animation: slideDown 1s;
          animation: slideDown 1s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#case-6 {
  -webkit-animation: slideDown 1s;
          animation: slideDown 1s;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

#case-7 {
  -webkit-animation: slideDown 1s;
          animation: slideDown 1s;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

#case-8 {
  -webkit-animation: slideDown 1s;
          animation: slideDown 1s;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

#case-9 {
  -webkit-animation: slideDown 1s;
          animation: slideDown 1s;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

#case-10 {
  -webkit-animation: slideDown 1s;
          animation: slideDown 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.validation-box {
  display: none;
}

.commend_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons {
  color: #fff;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 130px;
}

.buttons:hover {
  opacity: 80%;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

@-webkit-keyframes slideDown {
  from {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
  to {
    -o-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
  to {
    -o-transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (min-width: 800px) {
  .blocs_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */