$cd-body:#f6f6f6;
$color-p:#fff;
body {
    font-family: 'roboto', sans-serif;
    margin: 0;
    background-color: $cd-body;
}
.header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
        &_arrow-back{
            position: absolute;
            left: 2%;
        }
}
.img_menus{
    width: 100%;
    object-fit: cover;
    height: 300px;
}
.menu{
    padding: 10px;
    border-radius: 30px 30px 0px 0px;
    margin-top: -64px;
    background-color: $cd-body;
    position: relative;
    h1{
        
        font-family: 'shrikland';
        font-weight: bold;
        font-style: italic;
    }
}
.header_menu{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.case_menu{
    border-radius: 20px;
    background-color: $color-p;
    box-shadow: 0px 0px 14px -7px;
    padding: 0px 20px 0px 20px;
    margin: 10px;
    &:hover{
        .validation-box{
            color: $color-p;
            position: relative;
            transform: scale(1.5);
            transform-origin: left ;
            background-color: #99e2d0;
            padding: 14px;
            border-radius: 0px 15px 15px 0px;
            transform: slide-left 1s;
          }   
          .fa-check-circle{
            transition: 1s;
            animation: rotate-center 1s;
         
        }
    }
}

.case_plat-et-prix
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.case_plat-titre{
    font-weight: bold;
}
.plat-titre{
    margin-bottom: 0px;
}
.soustitre{
    margin-top: 0px;
}
.case_prix{
    font-weight: bold;
}
/*.bloc_grid_menu{
    animation: slideDown 1s;
}*/
#case-1{
    animation: slideDown 1s;
    animation-delay: 0.1s;
    white-space: nowrap;
}
#case-2{
    animation: slideDown 1s;
    animation-delay: 0.2s;
}
#case-3{
    animation: slideDown 1s;
    animation-delay: 0.3s;
    white-space: nowrap;
}
#case-4{
    animation: slideDown 1s;
    animation-delay: 0.4s;
    white-space: nowrap;
}
#case-5{
    animation: slideDown 1s;
    animation-delay: 0.5s;
    white-space: nowrap;
}
#case-6{
    animation: slideDown 1s;
    animation-delay: 0.6s;
    white-space: nowrap;
}
#case-7{
    animation: slideDown 1s;
    animation-delay: 0.7s;
    white-space: nowrap;
}
#case-8{
    animation: slideDown 1s;
    animation-delay: 0.8s;
    white-space: nowrap;
}
#case-9{
    animation: slideDown 1s;
    animation-delay: 0.9s;
    white-space: nowrap;
}
#case-10{
    animation: slideDown 1s;
    animation-delay: 1s;
    white-space: nowrap;
}

.commend_button{
    display: flex;
    justify-content: center;
}
.buttons{
    color: $color-p;
    border-radius: 30px;
    background-image: linear-gradient(to bottom,  #FF79DA,#9356DC) ;
    padding: 1rem;
    display: flex;
    justify-content: center;
    width: 130px;
    &:hover{
        opacity: 80%;
        transition: ease-in 0.2s ;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
    to{
        -o-transform: translateY(0);
        opacity: 1;
    }
}
/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-15px);
              transform: translateX(-15px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-15px);
              transform: translateX(-15px);
    }
  }

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

@media screen and (min-width:800px)
{
    .blocs_menu{
        display: flex;
        justify-content: space-around;
    }
    .footer{
        display: flex;
        justify-content: center;
        text-align: center;
    }
}