$cd-body:#f6f6f6;
$color-p:#fff;
/*scss pages restaurants*/
body {
    font-family: 'roboto', sans-serif;
    margin: 0;
    background-color: $cd-body;
}
a{
    text-decoration: none;
    color: inherit;
}

.header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
        &_arrow-back{
            position: absolute;
            left: 2%;
        }
}
.img_menus{
    width: 100%;
    object-fit: cover;
    height: 300px;
}
.menu{
    padding: 10px;
    border-radius: 30px 30px 0px 0px;
    margin-top: -64px;
    background-color: $cd-body;
    position: relative;
    h1{
        
        font-family: 'shrikland', 'cursive';
        font-weight: bold;
        font-style: italic;
        font-size: 40px;
        margin-left: 16px;
    }
}

.header_menu{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    .icon_coeur{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        &:hover{
            i.fas.fa-heart.plein{
                background: linear-gradient( to top, #FF79DA,#9356DC) ;
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
                opacity: 1;
                transition: ease-in 0.5s;
            }
            i.far.fa-heart.vide{
                transition: ease-in 0.5s;
                visibility: hidden;
            }
        }
    }
}
i.far.fa-heart.vide {
    position: absolute;
    width: 40px;
    height: 40px;
}
i.fas.fa-heart.plein{
    background: linear-gradient( to top, #FF79DA,#9356DC) ;
    color: transparent;
    width: 40px;
    height: 40px;
    -webkit-background-clip: text;
    background-clip: text;
    opacity: 0;
}


.case_menu{
    border-radius: 20px;
    background-color: $color-p;
    box-shadow: 0px 0px 14px -7px;
    padding: 0px 0px 0px 20px;
    margin: 10px;

}
.validation-box{ 
    display: none;
    color: $color-p;
    transform: scaleX(1);
    transform-origin: right ;
    background-color: #99e2d0;
    padding: 26px;
    border-radius: 0px 20px 20px 0px;
    transition: transform ease-in 1s;
    }

.fa-check-circle
{
    font-size: 19px;
}
h3{
    position: relative;
    margin-left: 12px;
    font-weight: 500;
}
h3::before{
    content: '';
    width: 50px;
    height: 4px;
    background: #99e2d0;
    position: absolute;
    z-index:20;
    left: 0px;
    bottom: -8px;
}
.case_plat-et-prix
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 20px;
    text-overflow: ellipsis;
    &:hover{ 
        .validation-box{ 
            display: flex;
            justify-content: right;
            color: $color-p;
            transform-origin: right ;
            background-color: #99e2d0;
            padding: 26px;
            border-radius: 0px 20px 20px 0px;
            transition: transform ease-in 1s;
            animation: slide-left 400ms linear;
            }
        .fa-check-circle{
            transition: 1s;
            animation: rotate-center 1s;
        }
    }
}
.case_plat-titre{
    font-weight: bold;
}
.case_plat{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
.plat-titre{
    margin-bottom: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.soustitre{
    margin-top: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.case_prix{
    font-weight: bold;
    padding: 10px;
}

#case-1{
    animation: fadeIn 1s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#case-2{
    animation: fadeIn 2s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#case-3{
    animation: fadeIn 3s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#case-4{
    animation: fadeIn 4s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#case-5{
    animation: fadeIn 5s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#case-6{
    animation: fadeIn 6s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#case-7{
    animation: fadeIn 7s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#case-8{
    animation: fadeIn 8s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#case-9{
    animation: fadeIn 9s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#case-10{
    animation: fadeIn 10s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.commend_button{
    display: flex;
    justify-content: center;
}
.buttons{
    color: $color-p;
    border-radius: 30px;
    background-image: linear-gradient(to bottom,  #FF79DA,#9356DC) ;
    padding: 1rem;
    display: flex;
    justify-content: center;
    width: 130px;
    &:hover{
        opacity: 80%;
        transition: ease-in 0.2s ;
        -webkit-box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.68); 
        box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.68);
    }
}


.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    } 
/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
 
 @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
              display: none;
              margin-right:-50px ;
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
              display: block;
              margin-right: 0px;
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
              display: none;
              margin-right: -50px;
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
              display: block;
              margin-right: 0px;
    }
  }

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

.logo {
    width: 200px;
}

footer{
    background-color: #353030;
    color: $color-p;
    padding: 14px;
}

.titre_footer{
    font-family: 'shrikland','cursive';
    font-style: italic;
    font-weight: bold;
    font-size: 26px;
    margin: 10px;
    color: $color-p;
    text-decoration: none;
}


.footer_bloc-links{
    padding: 10px;
    .footer_bloc-link{
        display: flex;
        align-items: baseline;
        p{
            margin-top: 5px;
        }
        .fas{
            letter-spacing: 15px;
        }
    }
}
@media screen and (min-width:808px)
{
    .blocs_menu{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        .bloc_menu{
            width: 390px;
            margin: auto;
        }
        
    }
    .footer{
        display: flex;
        justify-content: center;
    }
}
@media screen and (min-width:1150px)
{
    .blocs_menu{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        overflow: hidden;
        .bloc_menu{
            width: 390px;
            margin: auto;
            margin-top: 0px;
        }
    }
    .footer{
        display: flex;
        justify-content: center;
    }
}
